/*
@font-face {
  font-family: <a-remote-font-name>;
  src: <source> [,<source>]*;
  [font-weight: <weight>];
  [font-style: <style>];
}
*/

/* :root,
:root.light {
    --bg-color: #cccccc;
    --text-color: #222;
}

:root.dark {
    --bg-color: #1e1e1e;
    --text-color: #eee;
} */

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NanumGothic.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #cccccc;
    font-family: 'Nanum Gothic', sans-serif;
}

body.day-background {
    background: #1e1e1e;
    color: #eee;
}

body span.switcher {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin: 20px 0;
}
body span.switcher input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #1e1e1e;
    outline: none;
    font-family: 'Nanum Gothic', sans-serif;
}
body span.switcher input:before,
body span.switcher input:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}
body span.switcher input:before {
    content: 'ON';
    left: 20px;
}
body span.switcher input:after {
    content: 'OFF';
    right: 20px;
}
body span.switcher label {
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 10px;
    border-radius: 20px;
}
body span.switcher.theme-switcher input {
    transition: 0.25s -0.1s;
}
body span.switcher.theme-switcher input:checked {
    background-color: #ffffff;
}
body span.switcher.theme-switcher input:checked:before {
    color: #ffffff;
    transition: color 0.5s 0.2s;
}
body span.switcher.theme-switcher input:checked:after {
    color: #cccccc;
    transition: color 0.5s;
}
body span.switcher.theme-switcher input:checked + label {
    left: 10px;
    right: 100px;
    background: #1e1e1e;
    transition: left 0.5s, right 0.4s 0.2s;
}
body span.switcher.theme-switcher input:not(:checked) {
    background: #1e1e1e;
    transition: background 0.5s -0.1s;
}
body span.switcher.theme-switcher input:not(:checked):before {
    color: #cccccc;
    transition: color 0.5s;
}
body span.switcher.theme-switcher input:not(:checked):after {
    color: #1e1e1e;
    transition: color 0.5s 0.2s;
}
body span.switcher.theme-switcher input:not(:checked) + label {
    left: 100px;
    right: 10px;
    background: #ffffff;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
@-webkit-keyframes turn-on {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}
@keyframes turn-on {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}
@-webkit-keyframes turn-off {
    0% {
        right: 100%;
    }
    100% {
        right: 0%;
    }
}
@keyframes turn-off {
    0% {
        right: 100%;
    }
    100% {
        right: 0%;
    }
}

/**/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 75px;
    padding: 1rem;
    color: white;
    background: transparent;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
