@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

:root {
    --app: #02c3c2; /* rgb 2, 195, 194 */
    --correct: #02c3c2;
    --wrong: #f68534; /* rgb 246, 133, 52 */
}

*,
*:after,
*:before {
    margin: 0;
    /* box-sizing: border-box; */
}

/* https://shylog.com/settings-for-a-more-complete-webview/ */
* {
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    line-height: 1.5;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
}

.yes,
.no {
    font-family: 'Poppins', sans-serif !important;
}

.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    justify-content: around;
    align-items: center;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.promotion figure img {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.promotion figure:last-child {
    margin-left: auto;
}

.state ul li {
    width: 7.5rem;
    border-radius: 1rem;
}

@-webkit-keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0) scaleY(0.985);
        transform: translate3d(0, 10px, 0) scaleY(0.985);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
        transform: translate3d(0, -20px, 0) scaleY(0.9);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0) scaleY(3);
        transform: translate3d(0, 2000px, 0) scaleY(3);
    }
}

@keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0) scaleY(0.985);
        transform: translate3d(0, 10px, 0) scaleY(0.985);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
        transform: translate3d(0, -20px, 0) scaleY(0.9);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0) scaleY(3);
        transform: translate3d(0, 2000px, 0) scaleY(3);
    }
}

.bounceOutDown {
    -webkit-animation-name: bounceOutDown;
    animation-name: bounceOutDown;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 1s step-end infinite;
}

.capitalize-first::first-letter {
    text-transform: uppercase;
}

/* layout for test and develop */

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media (max-device-width: 800px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
@media (max-device-width: 1280px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}
